.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(203px, 1fr));
  gap: 8px;
  margin-bottom: 33px;

  @media (min-width: 1380px) {
    grid-column: repeat(4, 1fr);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: var(--content-max-width);
  margin-inline: auto;
  margin-bottom: 33px;
}
