.button {
  border: 1px solid var(--color-border);
  background: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 11px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #929292;
}