.app {
  min-height: 100%;
}

.content {
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: 16px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding-block: 16px;
}